@charset "UTF-8";

body {
    background-color: rgb(81, 148, 248);
    font: normal normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
    
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

img#imagem {
    width: 300px;
}

div {
    padding: 5px;
}

footer {
    color: white;
}